# Introduction to iterators and iterables

* iterate over a **list** in for loop.
* iterate over a **string** in for loop.
* iterate over a **range** of object.


### Iterables

* Ex- list,string,dictionary,file connection .
* any object associate with iter() method .
* apply iter() to **iterables** creates **iterators** .

### iterators

* produce next value with next().

In [2]:
# iteraing over iterables

word = 'da'
it = iter(word)
print(next(it))
print(next(it))
print(next(it))

d
a

StopIteration:

In [4]:
# splat operator
word1 = 'data'
it = iter(word1)
print(*it)

# no values to iterate through. so null
print(*it)

d a t a

In [6]:
# iterating through Dictionary

starwar = {'darth vadar':'empire', 'anakin skywalker':'republic'}

for key,value in starwar.items():
    print(key,value)

darth vadar empire
anakin skywalker republic

In [7]:
# file connction

file = open('new.txt')
it = iter(file)

print(next(it))
print(next(it))

hello world

hello chinmay

In [14]:
# range doesn't return list object. 

s = range(3)
print(s)
print(type(s))


# to make range to a list
slist = list(s)
print(slist)

range(0, 3)
<class 'range'>
[0, 1, 2]

#  enumurate()

In [19]:
# using enumurate()

batfamily = ['batman','nightwing','batgirl','robin']
e = enumerate(batfamily)

print(type(e))

elist = list(e)
# return list of tuple of index and values
print(elist)

<class 'enumerate'>
[(0, 'batman'), (1, 'nightwing'), (2, 'batgirl'), (3, 'robin')]

In [22]:
batfamily = ['batman','nightwing','batgirl','robin']

for index,value in enumerate(batfamily):
    print(index,value)

print("")    
    
for index,value in enumerate(batfamily,start=10):
    print(index,value)

0 batman
1 nightwing
2 batgirl
3 robin

10 batman
11 nightwing
12 batgirl
13 robin

 # zip()
 
 * zip can be used to zip more than 2 list.

In [33]:
avengers = ['captain america','ironman','spiderman']
names = ['steve','stark','perer']

z = zip(avengers,names)
print(type(z))

zlist = list(z)
print(*z)
# return a touple of list
print(zlist)

<class 'zip'>

[('captain america', 'steve'), ('ironman', 'stark'), ('spiderman', 'perer')]

In [27]:
# use of splat operator


avengers = ['captain america','ironman','spiderman']
names = ['steve','stark','perer']
z = zip(avengers,names)
print(*z)

('captain america', 'steve') ('ironman', 'stark') ('spiderman', 'perer')

In [36]:
# unzip with argument zip(*var)

avengers = ['captain america','ironman','spiderman']
names = ['steve','stark','perer']
z = zip(avengers,names)

aven,name = zip(*z)

# return touple
print(aven)
print(name)

('captain america', 'ironman', 'spiderman')
('steve', 'stark', 'perer')

# Using iterators to load large files into memory using chunk

In [40]:
import pandas as pd
df = pd.read_csv('tweets.csv')
df['lang'].head()

0    en
1    en
2    et
3    en
4    en
Name: lang, dtype: object

In [38]:
# Initialize an empty dictionary: counts_dict
counts_dict = {}


# Iterate over the file chunk by chunk
for chunk in pd.read_csv('tweets.csv',chunksize=10):

    # Iterate over the column in DataFrame
    for entry in chunk['lang']:
        if entry in counts_dict.keys():
            counts_dict[entry] += 1
        else:
            counts_dict[entry] = 1

# Print the populated dictionary
print(counts_dict)

{'et': 1, 'und': 2, 'en': 97}

# List comprehensions

* collapse for loops building lists into a  single line
* components
    1. iterables
    2. iterator varibale
    3. output expession

In [42]:
nums = [1,2,3,4,8,5]
new_nums = [num+1 for  num in nums]
print(new_nums)

[2, 3, 4, 5, 9, 6]

In [44]:
result = [num for num in range(11) ]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
pair_1 = []

for num1 in range(0,2):
    for num2 in range(6,8):
        pair_1.append((num1,num2))

print(pair_1)

[(0, 6), (0, 7), (1, 6), (1, 7)]

In [51]:
pair_2 = [(num1,num2) for num1 in range(0,2) for num2 in range(6,8)]
pair_2

[(0, 6), (0, 7), (1, 6), (1, 7)]

In [53]:
square = [[row for row in range(5)] for col in range(5)]
square

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]