# Introduction To R Syntax

In [1]:
# HOW it works

# Calculate 3 + 4
print (3 + 4)

# Calculate 6 + 12
print (6 +12 )

[1] 7
[1] 18

In [2]:
# Arithmetic with R

# An addition
5 + 5 

# A subtraction
5 - 5 

# A multiplication
3 * 5

 # A division
(5 + 5) / 2 

# Exponentiation
2^5

# Modulo
28%%6

[1] 10

[1] 0

[1] 15

[1] 5

[1] 32

[1] 4

In [3]:
# Variable assignment

# Assign the value 42 to x
x <- 42

# Print out the value of the variable x
x

[1] 42

In [4]:
# Assign a value to the variables my_apples and my_oranges
my_apples <- 5
my_oranges <- 6

# Add these two variables together
print (my_oranges + my_apples)

# Create the variable my_fruit
my_fruit <- my_oranges + my_apples

[1] 11

In [5]:
# Basic data types in R

# Change my_numeric to be 42
my_numeric <- 42

# Change my_character to be "universe"
my_character <- "universe"

# Change my_logical to be FALSE
my_logical <- FALSE

In [6]:
# What's that data type?

# Declare variables of different types
my_numeric <- 42
my_character <- "universe"
my_logical <- FALSE 

# Check class of my_numeric
class(my_numeric)

# Check class of my_character
class(my_character)

# Check class of my_logical
class(my_logical)

[1] "numeric"

[1] "character"

[1] "logical"

## Create a vector

* Vectors are one-dimension arrays that can hold numeric data, character data, or logical data. In other words, a vector is a simple tool to store data.

* For example, you can store your daily gains and losses in the casinos.

* In R, you create a vector with the combine function c().

* You place the vector elements separated by a comma between the parentheses.

In [7]:
# Create a vector

numeric_vector <- c(1, 10, 49)
character_vector <- c("a", "b", "c")

# Complete the code for boolean_vector
boolean_vector <- c(TRUE, FALSE ,TRUE)

# Vectors in R

## Naming a vector

* You can give a name to the elements of a vector with the names() function. Have a look at this example:
```
some_vector <- c("John Doe", "poker player")
names(some_vector) <- c("Name", "Profession")

```
* This code first creates a vector some_vector and then gives the two elements a name.
* The first element is assigned the name Name, while the second element is labeled Profession. Printing the contents to the console yields following output:
```
          Name     Profession 
    "John Doe" "poker player" 

### Sum vectors -

* sum()

### Vector selection

* Index start with 1.

### Select multiple Vectors

* poker_vector[c(2,3,4)]

### Caculating average

* mean()

### Logical Operator
```
< for less than
> for greater than
<= for less than or equal to
>= for greater than or equal to
== for equal to each other
!= not equal to each other
```

In [8]:
# Naming a vector

# Poker winnings from Monday to Friday
poker_vector <- c(140, -50, 20, -120, 240)

# Assign days as names of poker_vector
names(poker_vector) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
 
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
 
# Assign the names of the day to roulette_vector and poker_vector
names(poker_vector) <-  days_vector

In [9]:
# Adding 2 vectors

A_vector <- c(1, 2, 3)
B_vector <- c(4, 5, 6)

# Take the sum of A_vector and B_vector
total_vector <- A_vector + B_vector
  
# Print out total_vector
print(total_vector)

[1] 5 7 9

In [10]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

# Total winnings with poker
total_poker <- sum(poker_vector)

# Total winnings with roulette
total_roulette <- sum(roulette_vector)

# Total winnings overall
total_week <- total_poker + total_roulette

# Print out total_week
total_week

print(total_poker > total_roulette)

poker_wednesday <- poker_vector[3]
poker_wednesday

[1] -84

[1] TRUE

Wednesday
       20

In [11]:
# Define a new variable based on a selection
poker_midweek <- poker_vector[c(2,3,4)]
poker_midweek

  Tuesday Wednesday  Thursday
      -50        20      -120

In [12]:
# multiple value 
roulette_selection_vector <- roulette_vector[2:5]
roulette_selection_vector

  Tuesday Wednesday  Thursday    Friday
      -50       100      -350        10

In [13]:
# Calculate the average of the elements in poker_start
mean(roulette_selection_vector)

[1] -72.5

In [14]:
# Which days did you make money on poker?
selection_vector <- poker_vector > 0
  
# Print out selection_vector
print(selection_vector)

   Monday   Tuesday Wednesday  Thursday    Friday
     TRUE     FALSE      TRUE     FALSE      TRUE

In [15]:
# Selection by comparison 

# Select from poker_vector these days
poker_winning_days <- poker_vector[selection_vector]
poker_winning_days

   Monday Wednesday    Friday
      140        20       240

# Matrix in R

* In R, a matrix is a collection of elements of the same data type (numeric, character, or logical) arranged into a fixed number of rows and columns.
* Since you are only working with rows and columns, a matrix is called two-dimensional.

```
matrix(1:9, byrow = TRUE, nrow = 3)
```

#### In the matrix() function:

* The first argument is the collection of elements that R will arrange into the rows and columns of the matrix. Here, we use 1:9 which is a shortcut for c(1, 2, 3, 4, 5, 6, 7, 8, 9).

* The argument byrow indicates that the matrix is filled by the rows. If we want the matrix to be filled by the columns, we just place byrow = FALSE.

* The third argument nrow indicates that the matrix should have three rows.

### Naming a matrix

Similar to vectors, you can add names for the rows and the columns of a matrix

```
rownames(my_matrix) <- row_names_vector
colnames(my_matrix) <- col_names_vector
```

### Logical operation in Matrix

* All operation possible with matrix like ->  + , - , * , / 
* matrix with matrix operation is also possible

In [16]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

# Create box_office
box_office <- c(new_hope, empire_strikes, return_jedi)

# Construct star_wars_matrix
star_wars_matrix <- matrix(box_office,byrow=TRUE,nrow=3)
star_wars_matrix

     [,1]    [,2]
[1,] 460.998 314.4
[2,] 290.475 247.9
[3,] 309.306 165.8

In [17]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

# Construct matrix
star_wars_matrix <- matrix(c(new_hope, empire_strikes, return_jedi), nrow = 3, byrow = TRUE)

# Vectors region and titles, used for naming
region <- c("US", "non-US")
titles <- c("A New Hope", "The Empire Strikes Back", "Return of the Jedi")

# Name the columns with region
colnames(star_wars_matrix) <- region 

# Name the rows with titles
rownames(star_wars_matrix) <- titles

# Print out star_wars_matrix
print(star_wars_matrix)

                             US non-US
A New Hope              460.998  314.4
The Empire Strikes Back 290.475  247.9
Return of the Jedi      309.306  165.8

In [18]:
# sum of the total matrix row wise rowSums
# sum of the total matrix column wise colSums

# Construct star_wars_matrix
box_office <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
star_wars_matrix <- matrix(box_office, nrow = 3, byrow = TRUE,
                           dimnames = list(c("A New Hope", "The Empire Strikes Back", "Return of the Jedi"), 
                                           c("US", "non-US")))

# Calculate worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)
worldwide_vector

             A New Hope The Empire Strikes Back      Return of the Jedi
                775.398                 538.375                 475.106

In [19]:
# Adding a column in Matrix

# Construct star_wars_matrix
box_office <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
star_wars_matrix <- matrix(box_office, nrow = 3, byrow = TRUE,
                           dimnames = list(c("A New Hope", "The Empire Strikes Back", "Return of the Jedi"), 
                                           c("US", "non-US")))

# The worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)

# Bind the new variable worldwide_vector as a column to star_wars_matrix
all_wars_matrix <- cbind(star_wars_matrix,worldwide_vector)
all_wars_matrix

                        US      non-US worldwide_vector
A New Hope              460.998 314.4  775.398
The Empire Strikes Back 290.475 247.9  538.375
Return of the Jedi      309.306 165.8  475.106

In [20]:
# Adding row in Matrix
star_wars_matrix2 = star_wars_matrix
# star_wars_matrix and star_wars_matrix2 are available in your workspace
star_wars_matrix  


# Combine both Star Wars trilogies in one matrix
all_wars_matrix <- rbind(star_wars_matrix,star_wars_matrix2)
all_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

In [21]:
# Selection of matrix elements

# all_wars_matrix is available in your workspace
all_wars_matrix

# Select the non-US revenue for all movies
non_us_all <- all_wars_matrix[,2]
  
# Average non-US revenue
mean(non_us_all)

  
# Select the non-US revenue for first two movies
non_us_some <- all_wars_matrix[1:2,2]
  
# Average non-US revenue for first two movies
mean(non_us_some)

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

[1] 242.7

[1] 281.15

# What's a factor and why would you use it ?

* The term factor refers to a statistical data type used to store categorical variables. The difference between a categorical variable and a continuous variable is that a categorical variable can belong to a **limited number of categories**. A continuous variable, on the other hand, can correspond to an infinite number of values.

***

* It is important that R knows whether it is dealing with a continuous or a categorical variable, as the statistical models you will develop in the future treat both types differently.

***

* A good example of a categorical variable is the variable 'Gender'. A human individual can either be "Male" or "Female", making abstraction of inter-sexes. So here "Male" and "Female" are, in a simplified sense, the two values of the categorical variable "Gender", and every observation can be assigned to either the value "Male" of "Female".

In [22]:
# # Gender vector
gender_vector <- c("Male", "Female", "Female", "Male", "Male")

# Convert gender_vector to a factor
factor_gender_vector <- factor(gender_vector)

# Print out factor_gender_vector
print(factor_gender_vector)

[1] Male   Female Female Male   Male
Levels: Female Male

***
* There are two types of categorical variables: a nominal categorical variable and an ordinal categorical variable.
***
* A nominal variable is a categorical variable without an implied order. This means that it is impossible to say that 'one is worth more than the other'. For example, think of the categorical variable animals_vector with the categories "Elephant", "Giraffe", "Donkey" and "Horse". Here, it is impossible to say that one stands above or below the other. (Note that some of you might disagree ;-) ).
***
* In contrast, ordinal variables do have a natural ordering. Consider for example the categorical variable temperature_vector with the categories: "Low", "Medium" and "High". Here it is obvious that "Medium" stands above "Low", and "High" stands above "Medium".

In [23]:
# Animals
animals_vector <- c("Elephant", "Giraffe", "Donkey", "Horse")
factor_animals_vector <- factor(animals_vector)
factor_animals_vector

# Temperature
temperature_vector <- c("High", "Low", "High","Low", "Medium")
factor_temperature_vector <- factor(temperature_vector, order = TRUE, levels = c("Low", "Medium", "High"))
factor_temperature_vector

[1] Elephant Giraffe  Donkey   Horse
Levels: Donkey Elephant Giraffe Horse

[1] High   Low    High   Low    Medium
Levels: Low < Medium < High

### Factor levels

* A good illustration is the raw data that is provided to you by a survey. A standard question for every questionnaire is the gender of the respondent. You remember from the previous question that this is a factor and when performing the questionnaire on the streets its levels are often coded as "M" and "F".
***
```
survey_vector <- c("M", "F", "F", "M", "M")
```
* Next, when you want to start your data analysis, your main concern is to keep a nice overview of all the variables and what they mean. At that point, you will often want to change the factor levels to "Male" and "Female" instead of "M" and "F" to make your life easier.
***
* Watch out: the order with which you assign the levels is important. If you type levels(factor_survey_vector), you'll see that it outputs [1] "F" "M". If you don't specify the levels of the factor when creating the vector, R will automatically assign them alphabetically. To correctly map "F" to "Female" and "M" to "Male", the levels should be set to c("Female", "Male"), in this order order.

In [24]:
# Code to build factor_survey_vector
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)

# Specify the levels of factor_survey_vector
levels(factor_survey_vector) <- c("Female","Male")

factor_survey_vector

[1] Male   Female Female Male   Male
Levels: Female Male

### Summarizing a factor

variable:
```
summary(my_var)
```
* Going back to our survey, you would like to know how many "Male" responses you have in your study, and how many "Female" responses. The summary() function gives you the answer to this question.

In [25]:
# Build factor_survey_vector with clean levels
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)
levels(factor_survey_vector) <- c("Female", "Male")
factor_survey_vector

# Generate summary for survey_vector
summary(survey_vector)

# Generate summary for factor_survey_vector
summary(factor_survey_vector)

[1] Male   Female Female Male   Male
Levels: Female Male

   Length     Class      Mode
        5 character character

Female   Male
     2      3

In [26]:
# Build factor_survey_vector with clean levels
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)
levels(factor_survey_vector) <- c("Female", "Male")

# Male
male <- factor_survey_vector[1]

# Female
female <- factor_survey_vector[2]

print(male)
print(female)

[1] Male
Levels: Female Male
[1] Female
Levels: Female Male

### Ordered factors
***
* Since "Male" and "Female" are unordered (or nominal) factor levels, R returns a warning message, telling you that the greater than operator is not meaningful. As seen before, R attaches an equal value to the levels for such factors.
***
* But this is not always the case! Sometimes you will also deal with factors that do have a natural ordering between its categories. If this is the case, we have to make sure that we pass this information to R...
***

* Let us say that you are leading a research team of five data analysts and that you want to evaluate their performance. To do this, you track their speed, evaluate each analyst as "slow", "fast" or "insane", and save the results in speed_vector.
***

* By default, the function **factor() transforms speed_vector into an unordered factor**. To create an ordered factor, you have to add two additional arguments: **ordered and levels**.

```
factor(some_vector,
       ordered = TRUE,
       levels = c("lev1", "lev2" ...))
```

In [27]:
# Create speed_vector
speed_vector <- c("fast", "slow", "slow", "fast", "insane")

# Convert speed_vector to ordered factor vector
factor_speed_vector <- factor(speed_vector,ordered= TRUE,levels=c("slow", "fast", "insane"))

# Print factor_speed_vector
factor_speed_vector
summary(factor_speed_vector)

[1] fast   slow   slow   fast   insane
Levels: slow < fast < insane

  slow   fast insane
     2      2      1

In [28]:
# Comparing ordered factors

# Create factor_speed_vector
speed_vector <- c("fast", "slow", "slow", "fast", "insane")
factor_speed_vector <- factor(speed_vector, ordered = TRUE, levels = c("slow", "fast", "insane"))

# Factor value for second data analyst
da2 <- factor_speed_vector[2]

# Factor value for fifth data analyst
da5 <- factor_speed_vector[5]

# Is data analyst 2 faster than data analyst 5?
da2 > da5

[1] FALSE