# Introduction To R Syntax

In [1]:
# HOW it works

# Calculate 3 + 4
print (3 + 4)

# Calculate 6 + 12
print (6 +12 )

[1] 7
[1] 18

In [2]:
# Arithmetic with R

# An addition
5 + 5 

# A subtraction
5 - 5 

# A multiplication
3 * 5

 # A division
(5 + 5) / 2 

# Exponentiation
2^5

# Modulo
28%%6

[1] 10

[1] 0

[1] 15

[1] 5

[1] 32

[1] 4

In [4]:
# Variable assignment

# Assign the value 42 to x
x <- 42

# Print out the value of the variable x
x

[1] 42

In [5]:
# Assign a value to the variables my_apples and my_oranges
my_apples <- 5
my_oranges <- 6

# Add these two variables together
print (my_oranges + my_apples)

# Create the variable my_fruit
my_fruit <- my_oranges + my_apples

[1] 11

In [7]:
# Basic data types in R

# Change my_numeric to be 42
my_numeric <- 42

# Change my_character to be "universe"
my_character <- "universe"

# Change my_logical to be FALSE
my_logical <- FALSE

In [8]:
# What's that data type?

# Declare variables of different types
my_numeric <- 42
my_character <- "universe"
my_logical <- FALSE 

# Check class of my_numeric
class(my_numeric)

# Check class of my_character
class(my_character)

# Check class of my_logical
class(my_logical)

[1] "numeric"

[1] "character"

[1] "logical"

## Create a vector

* Vectors are one-dimension arrays that can hold numeric data, character data, or logical data. In other words, a vector is a simple tool to store data.

* For example, you can store your daily gains and losses in the casinos.

* In R, you create a vector with the combine function c().

* You place the vector elements separated by a comma between the parentheses.

In [9]:
# Create a vector

numeric_vector <- c(1, 10, 49)
character_vector <- c("a", "b", "c")

# Complete the code for boolean_vector
boolean_vector <- c(TRUE, FALSE ,TRUE)

# Vectors in R

## Naming a vector

* You can give a name to the elements of a vector with the names() function. Have a look at this example:
```
some_vector <- c("John Doe", "poker player")
names(some_vector) <- c("Name", "Profession")

```
* This code first creates a vector some_vector and then gives the two elements a name.
* The first element is assigned the name Name, while the second element is labeled Profession. Printing the contents to the console yields following output:
```
          Name     Profession 
    "John Doe" "poker player" 

### Sum vectors -

* sum()

### Vector selection

* Index start with 1.

### Select multiple Vectors

* poker_vector[c(2,3,4)]

### Caculating average

* mean()

### Logical Operator
```
< for less than
> for greater than
<= for less than or equal to
>= for greater than or equal to
== for equal to each other
!= not equal to each other
```

In [10]:
# Naming a vector

# Poker winnings from Monday to Friday
poker_vector <- c(140, -50, 20, -120, 240)

# Assign days as names of poker_vector
names(poker_vector) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
 
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
 
# Assign the names of the day to roulette_vector and poker_vector
names(poker_vector) <-  days_vector

In [12]:
# Adding 2 vectors

A_vector <- c(1, 2, 3)
B_vector <- c(4, 5, 6)

# Take the sum of A_vector and B_vector
total_vector <- A_vector + B_vector
  
# Print out total_vector
print(total_vector)

[1] 5 7 9

In [16]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

# Total winnings with poker
total_poker <- sum(poker_vector)

# Total winnings with roulette
total_roulette <- sum(roulette_vector)

# Total winnings overall
total_week <- total_poker + total_roulette

# Print out total_week
total_week

print(total_poker > total_roulette)

poker_wednesday <- poker_vector[3]
poker_wednesday

[1] -84

[1] TRUE

Wednesday
       20

In [18]:
# Define a new variable based on a selection
poker_midweek <- poker_vector[c(2,3,4)]
poker_midweek

  Tuesday Wednesday  Thursday
      -50        20      -120

In [20]:
# multiple value 
roulette_selection_vector <- roulette_vector[2:5]
roulette_selection_vector

  Tuesday Wednesday  Thursday    Friday
      -50       100      -350        10

In [21]:
# Calculate the average of the elements in poker_start
mean(roulette_selection_vector)

[1] -72.5

In [22]:
# Which days did you make money on poker?
selection_vector <- poker_vector > 0
  
# Print out selection_vector
print(selection_vector)

   Monday   Tuesday Wednesday  Thursday    Friday
     TRUE     FALSE      TRUE     FALSE      TRUE

In [24]:
# Selection by comparison 

# Select from poker_vector these days
poker_winning_days <- poker_vector[selection_vector]
poker_winning_days

   Monday Wednesday    Friday
      140        20       240

# Matrix in R